[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
matplotlib = "*"
notebook = "*"
joblib = "*"
numpy = "*"
pandas = "*"
category_encoders = "*"
sklearn = "*"

[requires]
python_version = "3"

[[documentation]]
[matplotlib = "==3.2.2"]
[seaborn = "==0.11.0"]
[joblib  = "==0.16.0"]
[pandas = "==1.1.2"]
[numpy = "==1.18.5"]
[category_encoders = "==2.2.2"]
[sklearn = "==0.22.2.post1"]
[heroku CLI]
[heroku = "*"]